/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
/* stylelint-disable*/
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section{display:block}html{line-height:1}body{line-height:inherit}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}
/* stylelint-enable */

/* ===== BASE STYLES ===== */

/*
  Setting type to a major second modular scale
 http://www.modularscale.com/?20&px&1.125&web&text
*/


html {
  font-size: 1.25em; /*20px 1 em 1.25@16 */
  line-height: 1.2em; /*24/20= 1.2 em */
}

h1 {
  font-size: 1.601em; /* 32.036px/20px = 1.601em */
  line-height: 1.404em; /* 45/32.036 = 1.404em */
}

p,
ul {
  padding-bottom: 1.2em; /* 1 girdline */
}

li {
  padding-bottom: 0.5em; /*half grid line 10px/20px = 0.5em */ 
}

li:last-child {
  padding-bottom: 0;
}

#theme-page ul {
  padding-bottom: 1.2em; /* 1 girdline */
}

#theme-page li {
  padding-bottom: 0.5em; /*half grid line 10px/20px = 0.5em */ 
}

#theme-page li:last-child {
  padding-bottom: 0;
}

#html-pageone {
  font-family: 'Neuton', serif;
}

#page-one #h1{
  font-family: 'Abril Fatface', cursive;
}

#page-one #h2{
  font-family: 'Abril Fatface', cursive;
}

#html-about {
  font-family: 'Neuton', serif;
}

#theme-page #h1{
  font-family: 'Abril Fatface', cursive;
}

#theme-page #h2{
  font-family: 'Abril Fatface', cursive;
  padding-bottom:.75em;
}

#page-one #h1 {
  font-size: 1.802em; /* 36.041px/20px = 1.802em */
  line-height: 1.248em; /* 45/36.041 = 1.248em */
}

#page-one #h2{
  font-size: 1.423em; /* 28.477px/20px = 1.423em */
  line-height: 1.404em; /* 45/28.477 = 1.580em */
}

#film-page #h1 {
  font-size: 1.802em; /* 36.041px/20px = 1.802em */
  line-height: 1.248em; /* 45/36.041 = 1.248em */
  padding-top:1.75em;
}

#theme-page #h1 {
  font-size: 1.802em; /* 36.041px/20px = 1.802em */
  line-height: 1.248em; /* 45/36.041 = 1.248em */
  padding-top:1.75em;
  padding-bottom:1.75em;
}

#theme-page  #about-h1 {
  font-size: 1.802em; /* 36.041px/20px = 1.802em */
  line-height: 1.248em; /* 45/36.041 = 1.248em */
}

img,
video {
  display: block;
  max-width: 100%;
}


/*#silence{
  width:300px;
  float: right; 
  height:200px;
}

#ring{
  width:300px;
  margin:0 auto;
  height:200px;
}

#excorist{
  width:300px;
  height:200px;
  margin: auto 0;
}*/

#footer{
  padding-top: 1.2em; /* 1 girdline */
  background-color: #c9d6cd;
  position: absolute;
  bottom: 0;
}

/* ===== LAYOUT STYLES ===== */

#theme-page{
  padding: 1.2em 0.925em; /* 1.2em is 1 gridline and 18.5/20 = 0.925em*/
  background-color: #bce0c9;
}


#film-page{
  padding: 1.2em 0.925em; /* 1.2em is 1 gridline and 18.5/20 = 0.925em*/
  background-color: #bce0c9;
}

#page-one{
  padding: 1.2em 0.925em; /* 1.2em is 1 gridline and 18.5/20 = 0.925em*/
  background-color: #bce0c9;
}

#film-page #nav-links {
  position: absolute;
  top: 0;
  padding: 0;
  line-height: 1;
}

#film-page #nav-links li {
  display: inline-block;
}

#film-page #nav-links li a {
  display: block;
  background-color: #244166;
  color: #ced6e0;
  padding-top: 0.65em;/* 13px/20px = 0.65em (13+20+13= 46)*/
  padding-bottom: 0.65em;/* 13px/20px = 0.65em (13+20+13= 46)*/
  padding-right: 0.32em;
  padding-left: 0.32em;/* 0.65/2 */
}

#film-page #my-name {
  padding-top: 3.3em; /* 66px/20px=3.3em*/
}

#theme-page #nav-links {
  position: absolute;
  top: 0;
  padding: 0;
  line-height: 1;
}

#theme-page  #nav-links li {
  display: inline-block;
}

#theme-page #nav-links li a {
  display: block;
  background-color: #244166;
  color: #ced6e0;
  padding-top: 0.65em;/* 13px/20px = 0.65em (13+20+13= 46)*/
  padding-bottom: 0.65em;/* 13px/20px = 0.65em (13+20+13= 46)*/
  padding-right: 0.32em;
  padding-left: 0.32em;/* 0.65/2 */
}

#theme-page  #about-h1 {
  padding-top: 3.3em; /* 66px/20px=3.3em*/
}

#page-one #nav-links {
  position: absolute;
  top: 0;
  padding: 0;
  line-height: 1;
}

#page-one #nav-links li {
  display: inline-block;
}

#page-one #nav-links li a {
  display: block;
  background-color: #244166;
  color: #ced6e0;
  padding-top: 0.65em;/* 13px/20px = 0.65em (13+20+13= 46)*/
  padding-bottom: 0.65em;/* 13px/20px = 0.65em (13+20+13= 46)*/
  padding-right: 0.32em;
  padding-left: 0.32em;/* 0.65/2 */
}

#page-one #h1 {
  padding-top: 3.3em; /* 66px/20px=3.3em*/
}

/* ===== MODULAR STYLES ===== */

.content ul {
  list-style-type: disc;
}

#nav-links li a {
  text-decoration: none;
}

/* ===== STATE STYLES ===== */


